.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.pokemon {
  display: flex;
  flex-direction: column;

  /* padding: max(.5rem,3%); */
  padding: clamp(0.5rem, 2vw, 1rem);
  color: var(--font-color-light);
  border-radius: 1rem;
  min-height: 6.25rem;
  width: 100%;
  cursor: pointer;

  transition: 0.2s;
  transition-timing-function: cubic-bezier(0, -0.2, 1, 0.51);
}

.pokemon:hover {
  transform: scale(1.1);
  z-index: 999;
  box-shadow: 0 0 10px 0 var(--font-color-dark);
}

.pokemon.normal {
  background-color: var(--normal);
}
.pokemon.grass {
  background-color: var(--grass);
}
.pokemon.fire {
  background-color: var(--fire);
}
.pokemon.water {
  background-color: var(--water);
}
.pokemon.electric {
  background-color: var(--electric);
}
.pokemon.ice {
  background-color: var(--ice);
}
.pokemon.ground {
  background-color: var(--ground);
}
.pokemon.flying {
  background-color: var(--flying);
}
.pokemon.poison {
  background-color: var(--poison);
}
.pokemon.fighting {
  background-color: var(--fighting);
}
.pokemon.psychic {
  background-color: var(--psychic);
}
.pokemon.dark {
  background-color: var(--dark);
}
.pokemon.rock {
  background-color: var(--rock);
}
.pokemon.bug {
  background-color: var(--bug);
}
.pokemon.ghost {
  background-color: var(--ghost);
}
.pokemon.steel {
  background-color: var(--steel);
}
.pokemon.dragon {
  background-color: var(--dragon);
}
.pokemon.fairy {
  background-color: var(--fairy);
}

/* .pokemon:hover colors */

.pokemon.normal:hover {
  box-shadow: 0 0 10px 0 var(--normal-dark);
  background-color: var(--normal);
}
.pokemon.grass:hover {
  box-shadow: 0 0 10px 0 var(--normal-dark);
  background-color: var(--grass);
}
.pokemon.fire:hover {
  box-shadow: 0 0 10px 0 var(--fire-dark);
  background-color: var(--fire);
}
.pokemon.water:hover {
  box-shadow: 0 0 10px 0 var(--water-dark);
  background-color: var(--water);
}
.pokemon.electric:hover {
  box-shadow: 0 0 10px 0 var(--electric-dark);
  background-color: var(--electric);
}
.pokemon.ice:hover {
  box-shadow: 0 0 10px 0 var(--ice-dark);
  background-color: var(--ice);
}
.pokemon.ground:hover {
  box-shadow: 0 0 10px 0 var(--ground-dark);
  background-color: var(--ground);
}
.pokemon.flying:hover {
  box-shadow: 0 0 10px 0 var(--flying-dark);
  background-color: var(--flying);
}
.pokemon.poison:hover {
  box-shadow: 0 0 10px 0 var(--poison-dark);
  background-color: var(--poison);
}
.pokemon.fighting:hover {
  box-shadow: 0 0 10px 0 var(--fighting-dark);
  background-color: var(--fighting);
}
.pokemon.psychic:hover {
  box-shadow: 0 0 10px 0 var(--psychic-dark);
  background-color: var(--psychic);
}
.pokemon.dark:hover {
  box-shadow: 0 0 10px 0 var(--dark-dark);
  background-color: var(--dark);
}
.pokemon.rock:hover {
  box-shadow: 0 0 10px 0 var(--rock-dark);
  background-color: var(--rock);
}
.pokemon.bug:hover {
  box-shadow: 0 0 10px 0 var(--bug-dark);
  background-color: var(--bug);
}
.pokemon.ghost:hover {
  box-shadow: 0 0 10px 0 var(--ghost-dark);
  background-color: var(--ghost);
}
.pokemon.steel:hover {
  box-shadow: 0 0 10px 0 var(--steel-dark);
  background-color: var(--steel);
}
.pokemon.dragon:hover {
  box-shadow: 0 0 10px 0 (--dragon-dark);
  background-color: var(--dragon);
}
.pokemon.fairy:hover {
  box-shadow: 0 0 10px 0 var(--fairy-dark);
  background-color: var(--fairy);
}

/* number */

.pokemon .number {
  text-align: right;
}

.number.normal {
  color: var(--normal-dark);
}
.number.grass {
  color: var(--grass-dark);
}
.number.fire {
  color: var(--fire-dark);
}
.number.water {
  color: var(--water-dark);
}
.number.electric {
  color: var(--electric-dark);
}
.number.ice {
  color: var(--ice-dark);
}
.number.ground {
  color: var(--ground-dark);
}
.number.flying {
  color: var(--flying-dark);
}
.number.poison {
  color: var(--poison-dark);
}
.number.fighting {
  color: var(--fighting-dark);
}
.number.psychic {
  color: var(--psychic-dark);
}
.number.dark {
  color: var(--dark-dark);
}
.number.rock {
  color: var(--rock-dark);
}
.number.bug {
  color: var(--bug-dark);
}
.number.ghost {
  color: var(--ghost-dark);
}
.number.steel {
  color: var(--steel-dark);
}
.number.dragon {
  color: var(--dragon-dark);
}
.number.fairy {
  color: var(--fairy-dark);
}

ol.pokemons li img {
  width: 50%;
}

.pokemon .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.pokemon .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color-light);
  text-transform: capitalize;

  font-size: clamp(1rem, 1vw, 2rem);
}

.type {
  background-color: var(--green-leaf-light);
  margin-top: 0.3rem;
  padding: 0.25rem;
  text-align: center;
  border-radius: 0.5rem;

  font-size: clamp(0.75rem, 4vw, 1rem);
}

.type.normal {
  background-color: var(--normal-light);
  color: var(--normal-dark);
}
.type.grass {
  background-color: var(--grass-light);
  color: var(--grass-dark);
}
.type.fire {
  background-color: var(--fire-light);
  color: var(--fire-dark);
}
.type.water {
  background-color: var(--water-light);
  color: var(--water-dark);
}
.type.electric {
  background-color: var(--electric-light);
  color: var(--electric-dark);
}
.type.ice {
  background-color: var(--ice-light);
  color: var(--ice-dark);
}
.type.ground {
  background-color: var(--ground-light);
  color: var(--ground-dark);
}
.type.flying {
  background-color: var(--flying-light);
  color: var(--flying-dark);
}
.type.poison {
  background-color: var(--poison-light);
  color: var(--poison-dark);
}
.type.fighting {
  background-color: var(--fighting-light);
  color: var(--fighting-dark);
}
.type.psychic {
  background-color: var(--psychic-light);
  color: var(--psychic-dark);
}
.type.dark {
  background-color: var(--dark-light);
  color: var(--dark-dark);
}
.type.rock {
  background-color: var(--rock-light);
  color: var(--rock-dark);
}
.type.bug {
  background-color: var(--bug-light);
  color: var(--bug-dark);
}
.type.ghost {
  background-color: var(--ghost-light);
  background-color: var(--ghost-dark);
}
.type.steel {
  background-color: var(--steel-light);
  background-color: var(--steel-dark);
}
.type.dragon {
  background-color: var(--dragon-light);
  background-color: var(--dragon-dark);
}
.type.fairy {
  background-color: var(--fairy-light);
  background-color: var(--fairy-dark);
}

@media screen and (min-width: 425px) {
  .pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}