/* varibles */
:root {
  --white: hsl(0, 0%, 100%);
  --font-color-light: hsl(0, 0%, 95%);
  --font-color-dark: hsl(0, 0%, 5%);
  --background: hsl(180, 5%, 87%);

  --green-leaf: hsl(166, 59%, 55%);
  --green-leaf-light: hsl(166, 59%, 75%);
  --green-leaf-dark: hsl(166, 59%, 35%);

  --normal: hsl(62, 22%, 56%);
  --grass:hsl(101, 52%, 55%);
  --fire:hsl(25, 85%, 56%);
  --water: hsl(222, 80%, 67%);
  --eletric: hsl(48, 93%, 57%);
  --ice: hsl(182, 44%, 72%);
  --ground: hsl(44, 65%, 64%);
  --flying: hsl(256, 76%, 75%);
  --poison: hsl(300, 43%, 44%);
  --fighting:hsl(342, 90%, 65%);
  --psychic: hsl(342, 90%, 65%);
  --dark:hsl(24, 23%, 36%);
  --rock:hsl(49, 54%, 47%);
  --bug:hsl(66, 70%, 42%);
  --ghost:hsl(261, 26%, 47%);
  --steel:hsl(245, 20%, 76%);
  --dragon:hsl(257, 91%, 59%);
  --fairy:hsl(340, 86%, 83%);
 
  --normal-light: hsl(62, 22%, 76%);
  --grass-light:hsl(101, 52%, 75%);
  --fire-light:hsl(25, 85%, 76%);
  --water-light: hsl(222, 80%, 87%);
  --eletric-light: hsl(48, 93%, 77%);
  --ice-light: hsl(182, 44%, 92%);
  --ground-light: hsl(44, 65%, 84%);
  --flying-light: hsl(256, 76%, 95%);
  --poison-light: hsl(300, 43%, 64%);
  --fighting-light:hsl(342, 90%, 85%);
  --psychic-light: hsl(342, 90%, 85%);
  --dark-light:hsl(24, 23%, 56%);
  --rock-light:hsl(49, 54%, 67%);
  --bug-light:hsl(66, 70%, 62%);
  --ghost-light:hsl(261, 26%, 67%);
  --steel-light:hsl(245, 20%, 96%);
  --dragon-light:hsl(257, 91%, 79%);
  --fairy-light:hsl(340, 86%, 93%);
  
  --normal-dark: hsl(62, 22%, 36%);
  --grass-dark:hsl(101, 52%, 35%);
  --fire-dark:hsl(25, 85%, 36%);
  --water-dark: hsl(222, 80%, 47%);
  --eletric-dark: hsl(48, 93%, 37%);
  --ice-dark: hsl(182, 44%, 52%);
  --ground-dark: hsl(44, 65%, 44%);
  --flying-dark: hsl(256, 76%, 55%);
  --poison-dark: hsl(300, 43%, 24%);
  --fighting-dark:hsl(342, 90%, 45%);
  --psychic-dark: hsl(342, 90%, 45%);
  --dark-dark:hsl(24, 23%, 16%);
  --rock-dark:hsl(49, 54%, 27%);
  --bug-dark:hsl(66, 70%, 22%);
  --ghost-dark:hsl(261, 26%, 27%);
  --steel-dark:hsl(245, 20%, 56%);
  --dragon-dark:hsl(257, 91%, 39%);
  --fairy-dark:hsl(340, 86%, 63%);
  
}

/* resets */

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

.content {
  padding: 1rem;
  width: min(100%, 768px);
  /* background-color: var(--white); */
}

.content h1 {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .content {
    margin: 0 auto;
  }
}
