/* varibles */
:root {
    --font-color-light: hsl(0, 0%, 95%);
    --font-color-dark: hsl(0, 0%, 5%);

    --green-leaf: hsl(166, 59%, 55%);
    --green-leaf-light: hsl(166, 59%, 75%);
    --green-leaf-dark: hsl(166, 59%, 35%);
}

/* resets */

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ol,ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.content {
    padding: 1rem;
    width: 100%;
}

.content h1 {
    font-size: 2rem;
    font-weight: 700;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.pokemon {
    display: flex;
    flex-direction: column;

    padding: .5rem;
    background-color: var(--green-leaf);
    color: var(--font-color-light);
    border-radius: 1rem;
    min-height: 100px;
    width: 100%;
}

.pokemon .number {
    text-align: right;
    color: var(--green-leaf-dark);
}

ol.pokemons li img {
    width: 55%;
}

.pokemon .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.pokemon .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  var(--font-color-light);

    font-size: 1.25rem;
}

.type {
    background-color: var(--green-leaf-light);
    margin-top: .25rem;
    padding: .25rem;
    text-align: center;
    border-radius: .5rem;
    color: var(--green-leaf-dark);
}